<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="header :: publichead"></head>
<script type="text/javascript" src="${basePath}/js/content/businessList.js"></script>
</head>
	<body style="background: #e1e9eb;">
		<form action="${basePath}/businesses/search" id="mainForm" method="post">
			<input type="hidden" name="_method" value="DELETE"/>
			<input type="hidden" name="page.currentPage" id="currentPage" value="1"/>
			<div class="right">
				<div class="current">当前位置：<a href="#">内容管理</a> &gt; 商户管理</div>
				<div class="rightCont">
					<p class="g_title fix">商户列表</p>
					<table class="tab1">
						<tbody>
							<tr>
								<td align="right" width="80">标题：</td>
								<td>
									<input name="title" id="title" th:if ="${searchParam.title == null}"   th:value="${searchParam.title}" class="allInput" type="text"/>
								</td>
	                            <td style="text-align: right;" width="150">
	                            	<input class="tabSub" value="查询" onclick="search('1');" type="button"/>&nbsp;&nbsp;&nbsp;&nbsp;
	                            	<t:auth url="/businesses/addPage" method="GET">
	                            		<input class="tabSub" value="添加" th:onclick="@{/businesses/addPage}" type="button"/>
	                            	</t:auth>
	                            </td>
	       					</tr>
						</tbody>
					</table>
					<div class="zixun fix">
						<table class="tab2" width="100%">
							<tbody>
								<tr>
								    <th>序号</th>
								    <th>标题</th>
								    <th>副标题</th>
								    <th>城市</th>
								    <th>类别</th>
								    <th>操作</th>
								</tr>
								
								<tr th:each="item ,itemIndex : ${list}">
										<td th:utext="${itemIndex.count}"></td>
										<td th:utext="${item.title}"> </td>
										<td th:utext="${item.subtitle}"></td>
										<td th:utext="${item.cityDic.name}"></td>
										<td th:utext="${item.categoryDic.name}"></td>
										<td>
											<t:auth url="/businesses/${item.id}" method="PUT">
												<a href="javascript:void(0);" th:onclick="'javascript:modifyInit(\'' + ${item.id} + '\' );'">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;
											</t:auth>
											<t:auth url="/businesses/${item.id}" method="DELETE">
												<a href="javascript:void(0);" th:onclick="remove('${item.id}')">删除</a>
											</t:auth>
										</td>
								</tr>
							</tbody>
						</table>
						
						<!-- 分页 -->
						<t:page jsMethodName="search" page="${searchParam.page}"></t:page>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>